@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');
#intro{
  background-image: url('../assets/backgrounds/h_img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Didact Gothic';
  align-items: center;
  text-align: center;
  color:white;
  padding-top: 200px;
  padding-bottom: 200px;

}
#logo{
  margin-top: 5px;
  margin-bottom: 25px;
  height: 75px;
  width: 75px;
}
#mouse-click{
  padding-top : 30px;
  padding-bottom: 30px;
  animation: bounce 3s infinite;
  animation-timing-function: ease;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-30px); }
  100% { transform: translateY(0); }
  }
.center_intro{
  vertical-align: middle;
  align-items: center;
  position: in;
}
#intro h1{
  padding: 5px;
  margin: 5px;
}
#intro p{
  padding: 5px;
}
#about_us{
  text-align: center;
  padding-top:15px;
  padding-bottom: 15px;
  font-family: 'Didact Gothic';
}
#services{
   background-image: url("../assets/backgrounds/s_image.jpg" );
   margin-bottom: 50px;
   background-position: center;
   padding-top: 100px;
   padding-bottom: 100px;
   color: white;
   font-weight: bold;
}
}.centre_txt{
  vertical-align: middle;
  height: 350px;
}
#what_we_do{
  text-align: center;
  padding-top: 10px;
  font-family: 'Didact Gothic';
}
#what_we_do h2{
    font-weight: bold;
}
.design,.product, .development {
    display: none;
}

.card {
    margin: 20px 20px ;
    position: relative;
    overflow: hidden;
}
.card:hover img {
  transform: scale(1.1);
}
.row:hover img{
    transform: scale(1.1);
}
.demo{
    position: absolute;
    width: 100%;
    min-height: 100%;
    cursor: pointer;
    display: none;
    font-weight: bold;
    font-size:200%
}
.description {
    color: white;
    padding: 50px 10px ;
    margin: 20% 5%;
    font-weight: 100%;
    border: 4px solid white;
    overflow: hidden;
    font-family: 'Didact Gothic';
}
#portfolio h1{
  text-align: center;
}
#contact{
  background-image: url('../assets/backgrounds/c_image.jpg');
  background-repeat: no-repeat;
   background-size: cover;
   max-width: 100%;
    margin-top: 20px;
  color: white;
  text-align: center;
  font-family: 'Didact Gothic';
}
.validate {
    text-align: center;
    position: relative;
    width: 650px;
    left: 50%;
   transform: translate(-50%);
}

::-webkit-input-placeholder {
  font-weight: bold;
  color: white;
}
.validate textarea {
    width: 100%;
    background: transparent;
}
.validate {
  text-align: center;
  position: relative;
  width: 700px;
  max-width: 100%;
  left: 50%;
  transform: translate(-50%);
}

footer{
  padding-top: 35px;
  margin-bottom:30px;
  text-align: center;
  font-family: 'Didact Gothic';
}

@media screen and (max-width: 450px) {
  .form-group form-inline"{
      width: 50%;
  }
  body{
    overflow-x: auto;
    }
}
@media screen and (max-width: 600px) {
  #intro{
    background-size:auto;
    padding-top:0px;
    padding-bottom: 0px;
  }
}
