@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');



.intro{
  background-image: url('../assets/backgrounds/h_img.jpg');
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding-top:15%;
  font-family: 'Didact Gothic';

}


.logo{
  margin-top: 5px;
  margin-bottom: 25px;
  height: 75px;
  width: 75px;


}

#mouse-click{
  padding-top : 30px;
  padding-bottom: 30px;
   animation: bounce 3s ;
}

.intro h1{
  padding: 5px;
  margin: 5px;
}
.intro p{
  padding: 5px;
}
/*.center_intro{
  display:inline-block;
vertical-align:top;
}*/

.about_us{
  text-align: center;
  padding-top:35px;
  padding-bottom: 35px;
  font-family: 'Didact Gothic';
}
.services{
  background-image: url("../assets/backgrounds/s_image.jpg" );
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: 'Didact Gothic';
}

.contact{
  background-image: url('../assets/backgrounds/c_image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;

}
